@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
  background:linear-gradient(to bottom, #0A111F,#0B111f);
}

.header > .logo {
  width:150px
}
  

.introduction {
    background: linear-gradient(to right, #08101D, #09111E);
    color: white;
  
}

.introduction h6 {
   color:#3A68B8;
   text-transform:uppercase;
}
  



.introduction .intro-left h1 {
  margin: 10px 0 40px;
}

.introduction .intro-left article {
  margin: 40px 0 30px;
}


.introduction .intro-left button {
 background-color: #3A68B8;
 color:#fff;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
}

.play-icon {
  width:13px;
  margin-right:8px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.buttons button:nth-child(2) {
  display: inline-flex;

  align-items: center;
}

@media(min-width:768px) {


  .introduction .intro-left {
  /* padding-top: 70px; */
}

.header .logo {
  width:300px
}

}